.text-align{
    text-align: left;
}


.card-form-bg{
  /* background-color: #E5E5E5; */
  padding: 2%;
}
.product-main{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}