.card-bg1 {
  background-color: #F25C05;
}

.card-bg2 {
  background-color: #D33A03;
}

.card-text-color {
  color: white;
  transition: transform 0.3s ease; 
}

.card-text-color:hover {
  transform: scale(1.1); 
  font-weight: 600;
  cursor: pointer;
}
