
.main{
    background-color: white;
    padding: 5%;

}
.card-btn {
    width: 100%;
    background-color:#8c8c8c;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
  }
  
  
  .card-btn:hover {
    background-color: #F26A28; 
  }
  
  
  .membership-header {
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-weight: 100;
    margin-bottom:5%;
  }
  
  .horizontal-line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
  }
  
  .membership-text {
    margin: 0 10px;
  }
  
