.bottom-container {
  position: fixed;
  bottom: 0px;
  width: 100% !important;
  background-color: #ffff;
  padding: 20px;
  border-top-right-radius: 40px !important;
  border-top-left-radius: 40px;
  min-height: 20px;
}

.scrollable-content {
  max-height: 30rem;
  overflow-y: auto;
  padding: 1rem;
}

.expanded {
  height: calc(5rem + 2rem);
  opacity: 1;
}

.booking-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  background: rgb(201, 246, 255);
  background: linear-gradient(356deg, rgba(201, 246, 255, 1) 0%, rgba(35, 168, 219, 1) 47%, rgba(38, 126, 195, 1) 94%);
}



.booking-details button {
  padding: 5px 10px;
  border: none;
  border: none;
  background-color: transparent;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}


.cart-container .cart-body {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 30px 0 20px;
  margin: 20px 0 30px;
}