.fav-main{
    background-color: #E5E5E5;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 5%;
}
.sub-card{
    padding: 5%;
}
.card-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .favv-header {
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-weight: 100;
    margin-bottom:5%;
  }
  
  .favv-horizontal-line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
  }
  
  .favv-text {
    margin: 0 10px;
  }

